/* Using BEM convention : Block__Element--modifier */

// Colors
$jetGray: #333333;
$aeroBlue: #B8F5E8;
$offWhite: #FCFAF9;
$silk: #F3D3BD;
$lightGray: #F3D3BD;


#library {
    .library__bookCard {
        border: 1px solid #ccc;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 8em;
        align-items: center;
        position: relative;

        .title.is-3 {
            max-width: 85%;
            text-align: center;
        }

        .remove-btn {
            border: none;
            position: absolute;
            top: -.25em;
            right: -.5em;
            background: transparent;
            font-size: 1.3em;
        }
    }

    #empty-msg {
        display: none;
    }
}

#new-book-form {
    // display: none;
}
