/* Using BEM convention : Block__Element--modifier */

// Colors
$jetGray: #333333;
$aeroBlue: #B8F5E8;
$offWhite: #FCFAF9;
$silk: #F3D3BD;
$lightGray: #ccc;

/* Breakpoints */
@mixin breakpoint($point) {
    @if ($point == lg-screen) {
      @media (min-width: 1200px) {
        @content;
      }
    } @else if($point == med-screen) {
      @media (min-width: 768px) {
        @content;
      }
    } 
  }

// General 
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif; 
    color: $jetGray;
    background: rgba(252, 250, 249, .3);
}

main {
    display: flex;
    flex-direction: column;
    @include breakpoint(med-screen){
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

.title {
    .is-1, .is-2, .is-3 {
        font-family: 'Fjalla One', sans-serif;
    }
}

.message.is-dark {
    .message-body { 
        border-radius: 0;
        color: $jetGray;
        border-color: $jetGray;
        background: #fff;
        font-size: 1.2rem;
    }
}

// Links and buttons
// TODO : Add animation for hover/focus
/*
    background: transparent, border: silk (fills side by side) 
    would be cool to pop in a book icon on the right-hand side
*/
.button.is-primary {
    background-color: $silk;
    border-color: transparent;
    color: $jetGray;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 0.5em;   
    transition: all 1ms ease-in-out;
    &:hover, &:focus, &:active {
        background-color: transparent;
        border: 2px solid $silk;
        color: $jetGray;
        
    }
    &:focus:not(:active){
        box-shadow: 0 0 0 0.125em rgb(243 211 189 / 25%);
    }
    &[disabled] {
        background-color: #f3d3bd;
    }
}



// Hero
.hero.is-primary {
    background-color: $jetGray;
    @include breakpoint(med-screen){
        flex: 0 1 100%;
        width: 100%;
    }
    .title.is-1 { 
        color: $silk; 
        display: flex;
        justify-content: center;
        align-items: center;
        
        span { 
            font-family: cursive;
            text-transform: lowercase;
            font-size: 1.85rem;
            margin-right: 7px;
        }
    }
}

// Library 
#library {
    display: flex;
    @include breakpoint(med-screen){
        flex-flow: row wrap;
        justify-content: center;
        max-width: 80%;
    }

    .library__bookCard {
        border: 1px solid rgba(51,51,51, .4);
        border-left: 6px solid $jetGray;
        box-shadow: 0px 7px 16px -2px rgba(51,51,51,0.66);
        background: #fff;
        border-radius: 0 0.5em 0.5em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 12em;
        align-items: center;
        position: relative;
        width: 9.5em;
        padding: 0.25em 0.1em 2.7em 0.3em;
        margin: 5px 10px;

        .title.is-3 {
            max-width: 90%;
            text-align: center;
            font-size: 1.5rem;

            @include breakpoint(med-screen){
                font-size: 1.4rem;
            }
        }

        .remove-btn {
            border: none;
            position: absolute;
            top: -0.25em;
            left: -0.4em;
            background: #fff;
            height: auto;
            border-radius: 100%;
            font-size: 1.5em;
            padding: 0;
            color: $aeroBlue;
        }

        .read-btn {
            text-transform: capitalize;
            background-color: #B8F5E8;
            color: #333;
            font-weight: 600;
            padding: 7px 14px;
            border: 1px solid #B8F5E8;
            border-bottom: 2px solid #ccc;
            line-height: 1;
            height: auto;
            margin: 0.4em 0 .2em;
            position: absolute;
            bottom: 0;

            @include breakpoint(med-screen){
                bottom: 0.25em;
            }
        }

        @include breakpoint(med-screen){
            padding-bottom: 3em;
        }
    }

    #empty-msg {
        display: none;
    }
}

// Modal
.modal-background {
    background-color: rgba(51,51,51,.86);
}

// Form
.modal.is-active {
    .box {
        background-color:$offWhite;
        color: #333;
        -webkit-animation: fade-in-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        
        .input {
            position: relative;
        }
    
        .input.is-danger+span::before {
            content: "This field is required";
            color: #f14668;
            position: absolute;
            right: 1em;
            top: 20%;
        }
    }
}
.modal {
    .box {
        -webkit-animation: slide-out-bottom 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: slide-out-bottom 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
}

#req-fields-label {
    float: right;
    font-size: .95em;
}

#new-book-form {
    // display: none;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-3 20:15:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  /**
 * ----------------------------------------
 * animation slide-out-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
  }
